<br>
<br>

<body class="text-center">
  <h5>Already a member? Click <a href="/auth/login">here</a> to sing in!</h5>
  <div class="well well2">
    <div class="well well3">
      <main class="m-auto">
        <form action="/auth/signup" method="POST">
          <img class="mb-4" src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" alt=""
            width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
          <br>
          <div class="form-floating">
            <input type="text" class="form-control text-center" id="floatingInput" name="name" placeholder="John Smith"
              style="max-width: 200px; display: inline-block" required>
            <br>
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control text-center" id="floatingInput" name="email"
              placeholder="name@example.com" style="max-width: 200px; display: inline-block" required>
            <br>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control text-center" id="floatingPassword" name="password"
              placeholder="Password" style="max-width: 200px; display: inline-block" required>
            <br>
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
      </main>
    </div>
  </div>
</body>

</html>