
<h1>Welcome to iGottaGo!</h1>

<br>
<br>
<br>
<br>
<br>
<h2 class="about">This webpage is dedicated to foodies seeking the best restrooms within the restaurants in their area.</h2>

<h2 class="about">Simply sign up, add your favorite restaurants, and share any intricacies or oddities about their lavatories.</h2>

<!-- <footer class="contact">

<h4>iGottaGo was created in 2022 by General Assembly student Corey Murphy</h4>
<h4>Using the <a href="https://rapidapi.com/dodocr7/api/yellow-page-us">Yellow Pages API</a>, he focused on finding restaurants in any users area, although the search field extends beyond just restaurants.</h4>

</footer> -->

<!-- Footer -->
<footer class="bg-dark text-center text-white contact">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <h2 class="pt-2">
                <strong>IgottaGo's Contact</strong>
              </h2>
            </div>
<br>
<p class="just">For any questions, comments, or concerns please contact me via <a href="mailto:coreyimurphy@gmail.com">email.</a> </p>
<br>
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p class="just">
            iGottaGo was created in 2022 by General Assembly student Corey Murphy. Using the 
            <a href="https://rapidapi.com/dodocr7/api/yellow-page-us">Yellow Pages API</a>, 
            he focused on finding restaurants in any users area, although the search field extends 
            beyond just restaurants. As time goes on, the database may expand into other public sectors 
            with ratable restrooms.
        </p>
      </section>

    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Corey Murphy:
      <a class="text-white" href="./">iGottaGo</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->