<h1>Welcome to iGottaGo!</h1>

<br>
<br>
<br>
<br>
<br>
<div class="well well2">
  <div class="well well3">
    <h2 class="about">This webpage is dedicated to foodies seeking the best restrooms within the restaurants in their
      area.</h2>

    <h2 class="about">Simply sign up, add your favorite restaurants, and share anything notable about their
      lavoratories. Any intricacy or oddity should be noted!</h2>
    <br>
    <br>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white contact">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <h2 class="pt-2">
              <strong>IgottaGo's Contact</strong>
            </h2>
          </div>
          <br>
          <p class="just">For any questions, comments, or concerns please contact me via <a
              href="mailto:coreyimurphy@gmail.com">email.</a> </p>
          <br>
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p class="just text-center">
        iGottaGo was created in 2022 by General Assembly student Corey Murphy. Using the
        <a href="https://rapidapi.com/dodocr7/api/yellow-page-us">Yellow Pages API</a>,
        he focused on finding restaurants in any users area, although the search field extends
        beyond just restaurants. As time goes on, the database may expand into other public sectors
        with ratable restrooms.
      </p>
    </section>

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Corey Murphy:
    <a class="text-white" href="https://github.com/Coreyimurphy91/iGottaGo">iGottaGo</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->