<div class="well"  style="background-color: rgb(113, 113, 113); border-radius: 20px; min-height: 350px; text-align:center;">
    <div class="well"  style="background-color: rgb(224, 224, 224); border-radius: 20px; min-height: 350px;">
<h1>iGottaGo</h1>

<h3 class="purpose">Find restraunts in your area with the neatest restrooms!</h3>

<div class="button-cent-parent button-cent-child">
<button type="button" class="btn btn-default btn-lg purpose"><a class="getSearching" href="/search">Get Searching<span class="glyphicon glyphicon-search"></span></a></button>
</div>
</div>
</div>