<h1>iGottaGo</h1>
<br>
<div class="well well2" style="min-height: 100px;">
    <div class="well well3" style="min-height: 100px;">

        <h3 class="purpose">Find restraunts in your area with the neatest restrooms!</h3>

        <div class="button-cent-parent button-cent-child">
            <button type="button" class="btn btn-default btn-lg purpose tekoH"><a class="getSearching" href="/search">Get
                    Searching <span class="glyphicon glyphicon-search"></span></a></button>
        </div>
    </div>
</div>