<h1>iGottaGo</h1>

<h3 class="purpose">An application dedicated to displaying the best restrooms that restaurants in your area have to offer.</h3>

<p class="getSearching"><a class="getSearching" href="/search">Get Searching</a></p>
