<h1>Restaurant Directory</h1>
<h3 class="teko text-center">Use [ctrl <small>(or)</small> cmd + f] to find one of our current restaurants.</h3>

<div class="px-4 py-5 my-5 text-center">
  <br>
  <br>
  <% if(Array.isArray(restaurants) && restaurants.length> 0) { %>
    <% restaurants.forEach((restaurant)=> { %>
      <div class="well well2">
        <div class="well well3">
          <h1 class="display-5 fw-bold">
            <%= restaurant.name %>
          </h1>
          <div class="col-lg-6 mx-auto">
            <h2 class="teko"> Address: </h2>
            <p><%= restaurant.address %>.<% if(restaurant.hours !=null) { %></p>
            
            <h2 class="teko"> Business hours are: </h2>
            <p><%= restaurant.hours %>. </p>
            <% } else { %>
              <h2 class="teko">Business hours are not posted.</h2>
            <% } %>
          </div>

          <br>
          <br>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-dark btn-lg purpose ahover tekoH"><a href="/restaurants/<%= restaurant.id %>"
                style="text-decoration: none; color: black;">View
                Restaurant</a></button>
            <button type="button" class="btn btn-dark btn-lg purpose ahover tekoH"><a href="#top"
                style="text-decoration: none; color: black">Back to top</a></button>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
      <br>
      <br>
      <% })} %>