<h1>Restaurants in your area</h1>

<% for( let index = 0; index < restaurants.length; index++ ) { %>
    <% let restaurant = restaurants[index] %> 
    <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.cuisine %></td>
        <td><%= restaurant.rating %></td>
    </tr>
<% } %>