<form class="search" action="/search" method="POST">
    <label for="areaSearch">Search by Zip-Code</label>
    <input id="areaSearch" type="text" name="zip" required>

    <input type="submit" value="Start Looking">
</form>


<h1>Restaurants in your area</h1>
