<h1>Search restaurants in your area</h1>

<form class="searchRest" action="/search/results" method="GET">
    <label for="areaSearch">Search by State, City, or Zip-Code</label>
    <input id="areaSearch" type="text" name="yplocation" required>

    <label for="nameSearch">Search by Name</label>
    <input id="nameSearch" type="text" name="ypkeyword" required>

    <input type="submit" value="Start Looking">
</form>

<h3>Or, look at our current directory of restaurants</h3>
<div class="container-fluid bg-2 text-center">
<a href="/restaurants" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span> Browse</a>
</div>